@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Monserrat", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  background: #f1f1f1;
  color: rgb(19, 19, 19);
}

.navbar {
  position: fixed;
  left: 0;
  height: 40px;
  width: 100%;
  background: rgb(132, 132, 132);
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding: 0 30px;
}

.navbar ul li {
  margin-right: 10px;
  padding: 10px;
}

.navbar ul li:hover {
  background: hotpink;
}

.navbar ul li:last-child {
  margin-right: 0;
}

.navbar ul li:first-child {
  margin-left: 0;
}

.navbar ul a {
  text-decoration: none;
}

.navbar ul a li:hover {
  background-color: #444;
}

/* .navbar ul li a {
  display: block;
} */

.active {
  background-color: hotpink;
}

.container {
  max-width: 600px;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 30px;
}

.profilepic {
  width: 200px;
  border-radius: 20px;
  box-shadow: 4px 4px 14px #111;
}

.info {
  margin-bottom: 20px;
  display: flex;
}

@media (max-width: 650px) {
  .info {
    font-size: 14px;
    text-align: center;
    display: block;
  }
}

.info-text {
  margin-left: 40px;
  margin-top: 17px;
}

.info-text p {
  font-style: italic;
  font-weight: bold;
  color: #86898f;
}

@media (max-width: 650px) {
  .info-text {
    margin: 0;
    padding: 0;
  }
}

.info-text h3 {
  margin-bottom: 10px;
}

.card {
  border-radius: 15px;
  padding: 15px 20px;
  margin-bottom: 20px;
}

.card h2 {
  margin-bottom: 20px;
}

.card table {
  padding-bottom: 10px;
}

.bg-1 {
  background: darkgrey;
}

.bg-2 {
  background: lightgray;
}

a {
  color: #444;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: lightgrey;
}

a:visited {
  color: white;
}

a:active {
  color: black;
}

.btn {
  background: #444;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: #f1f1f1;
}

.btn:hover {
  color: hotpink;
  opacity: 0.7;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  margin: 0;
  padding: 0;
  list-style: decimal;
  padding-left: 40px;
  padding-bottom: 10px;
}

.list li {
  margin-bottom: 5px;
}

.table {
  width: 100%;
}

.table td {
  text-align: left;
  padding-bottom: 5px;
}

.table tr:nth-child(even) {
  background: #eee;
}

.table td:hover {
  background: hotpink;
}

.form h2 {
  text-align: center;
}

.form-row {
  margin-bottom: 10px;
  display: flex;
}

.form-row .form-group {
  margin-right: 20px;
  width: 50%;
  /* display: inline-block; */
  /* width: calc(50% - 20px); */
}

.form-row .form-group:last-child {
  margin-right: 0;
}

@media (max-width: 650px) {
  .form-row {
    display: block;
  }

  .form-row .form-group {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.form-group label {
  display: block;
  font-size: 16px;
  color: #86898f;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
  margin-bottom: 20px;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: hotpink; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 14px; /* Increase font size */
  font-family: inherit;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
